TZ=UTC

# App
APP_PORT=3000
CORS_ORIGIN=*

# MongoDB (replica set required for transactions)
MONGO_URI=mongodb://admin:admin123@localhost:27017/boilerplate?authSource=admin&replicaSet=rs0

# Redis (used for BullMQ + Cache)
REDIS=redis://:redis123@localhost:6379

# JWT
AT_SECRET=ABC
RT_SECRET=CBA
